footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* border-top: 1px solid #eaeaea; */
  border-top: 1px solid var(--fg);
  padding: 0 1rem;
  background-color: var(--bg);
  text-align: center;
}